<div class="card-block">
    <p>{{event.Genres}}</p>

    <h1>Genres</h1>
    <div ng-repeat="genre in event.Genres | orderBy:order">
        <p>{{genre}}</p>
    </div>

</div>

<div class="card-block">
    <h1>Other Names</h1>

    <!-- <p>{{event.OtherNames | json}}</p> -->

    <div ng-repeat="oNames in event.OtherNames | orderBy:order">
        <p>{{oNames}}</p>
    </div>

</div>

<div class="card-block">
    <h1>Participants</h1>

    <p>{{event.Participants | json}}</p>
</div>
<div class="card-block">
    <h1>Release Year</h1>

    <p>{{event.ReleaseYear | json}}</p>

</div>



<div class="card-block">
    <h1>Storylines</h1>

    <p>{{event.Storylines | json}}</p>
</div>



<div class="card-block">
    <h1>TitleId</h1>

    <p>{{event.TitleId | json}}</p>


</div>


<div class="card-block">
    <h1>TitleName</h1>

    <p>{{event.TitleName | json}}</p>
</div>


<div class="card-block">
    <h1>TitleNameSortable</h1>

    <p>{{event.TitleNameSortable | json}}</p>
</div>


<div class="card-block">
    <h1>_id</h1>

    <p>{{event._id | json}}</p>
</div>
