<!-- <div class="container-fluid"> -->
<div class="container">
    <div class="col-md-12">


        <input id="i182" type="text" class="form-control col-sm-8" ng-model-options='{ debounce: 250 }' class="inputBox" ng-model="titleSearchQuery" ng-change="turnerTitleSearch()"> {{titleSearchQuery}}

        <ul class="gallery gallery1">
            <li ng-repeat="image in images">
                <a ng-click="openLightboxModal($index)">
                    <img ng-src="{{image.thumbUrl}}" class="img-thumbnail">
                </a>
            </li>
        </ul>

        <h1>Monthly Community Event Planner</h1>

        <!-- <button class="btn btn-primary" ng-click="addCustom()">Custom Add</button> -->
        <!-- <input ng-model="input"> -->

        <md-input-container>
            <label>SORT BY MONTH</label>
            <md-select ng-model="event.date">
                <md-option ng-value="opt" ng-click="sortByMonth('JAN')">JAN</md-option>
                <md-option ng-value="opt" ng-click="sortByMonth('FEB')">FEB</md-option>
                <md-option ng-value="opt" ng-click="sortByMonth('MAR')">MAR</md-option>
                <md-option ng-value="opt" ng-click="sortByMonth('APR')">APR</md-option>
                <md-option ng-value="opt" ng-click="sortByMonth('MAY')">MAY</md-option>
                <md-option ng-value="opt" ng-click="sortByMonth('JUN')">JUN</md-option>
                <md-option ng-value="opt" ng-click="sortByMonth('JUL')">JUL</md-option>
                <md-option ng-value="opt" ng-click="sortByMonth('AUG')">AUG</md-option>
                <md-option ng-value="opt" ng-click="sortByMonth('SEP')">SEP</md-option>
                <md-option ng-value="opt" ng-click="sortByMonth('OCT')">OCT</md-option>
                <md-option ng-value="opt" ng-click="sortByMonth('NOV')">NOV</md-option>
                <md-option ng-value="opt" ng-click="sortByMonth('DEC')">DEC</md-option>
            </md-select>
        </md-input-container>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th colspan="4">Action</th>
                <th colspan="4">Action</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <td class="dropDownController">
                    <md-datepicker ng-model="event.date" md-svg-icon="md-none" md-placeholder="Enter date"></md-datepicker>
                </td>

                <td colspan='2'>

                    <input class="form-control" placeholder="Event:" ng-model="event.name">
                </td>
                <td>
                    <input class="form-control" placeholder="Owner:" ng-model="event.owner">
                </td>
                <td>
                    <md-button class="md-raised md-button-override-R" ng-click="add()">
                        Add
                    </md-button>
                </td>
                <td>
                    <md-button class="md-raised md-button-override-R" ng-click="update()">
                        Update
                    </md-button>
                </td>
                <!--
                <td>
                    <button class="btn btn-info" ng-click="deselect()">
                        Clear
                    </button>
                </td>
                -->
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="event in todo | orderBy:order" class="listItemContainer">
                <td>

                    <!-- ["Awards", "Genres", "OtherNames", "Participants", "ReleaseYear", "Storylines", "TitleId", "TitleName", "TitleNameSortable", "_id"] -->
                    <!-- {{event}} -->

                    <h1>Awards</h1>

                    <!-- <p>{{event.Awards | json}}</p> -->

                    <div ng-repeat="award in event.Awards | orderBy:order">
                        <p>{{award.AwardWon}}</p>
                        <p>{{award.AwardYear}}</p>
                        <p>{{award.Participants}}</p>
                        <p>{{award.Award}}</p>
                    </div>


                    <p>{{event.Genres}}</p>

                    <h1>Genres</h1>
                    <div ng-repeat="genre in event.Genres | orderBy:order">
                        <p>{{genre}}</p>
                    </div>

                    <h1>Other Names</h1>

                    <!-- <p>{{event.OtherNames | json}}</p> -->

                    <div ng-repeat="oNames in event.OtherNames | orderBy:order">
                        <p>{{oNames}}</p>
                    </div>

                    <h1>Participants</h1>

                    <p>{{event.Participants | json}}</p>

                    <h1>Participants</h1>

                    <p>{{event.ReleaseYear | json}}</p>

                    <h1>Storylines</h1>

                    <p>{{event.Storylines | json}}</p>


                    <h1>TitleId</h1>

                    <p>{{event.TitleId | json}}</p>

                    <h1>TitleName</h1>

                    <p>{{event.TitleName | json}}</p>

                    <h1>TitleNameSortable</h1>

                    <p>{{event.TitleNameSortable | json}}</p>

                    <h1>_id</h1>

                    <p>{{event._id | json}}</p>



                    <!--
                    <div ng-repeat="oNames in event.OtherNames | orderBy:order">
                        <p>{{oNames}}</p>
                    </div>
-->

                    <!-- {{event.Awards[0] | json}} {{event.Awards[0] | json}} {{event.Awards[0] | json}} {{event.Awards[0] | json}} {{event.Awards[0] | json}} {{event.Awards[0] | json}} {{event.Awards[0] | json}} -->

                    <!-- {{event.Genres | json}} {{event.OtherNames | json}} {{event.Participants | json}} {{event.ReleaseYear | json}} {{event.Storylines | json}} {{event.TitleId | json}} {{event.TitleName | json}} {{event.TitleNameSortable |
                    json}} {{event._id | json}} -->


                    <!-- ["AwardWon", "AwardYear", "Participants", "Award", "AwardCompany"] -->
                    <!-- {{event.Awards | prettyJSON}} -->
                </td>
                <td>{{event.date | date : format : timezone}}</td>

                <td>{{event.date | date : 'EEE' }}</td>

                <td>{{event.name}}</td>
                <td>{{event.owner}}</td>
                <td>
                    <md-button class="md-raised md-button-override-R" ng-click="remove(event._id)">Remove</md-button>
                </td>

                <td>
                    <md-button class="md-raised md-button-override-R" ng-click="edit(event._id)">Edit</md-button>
                </td>
            </tr>

        </tbody>
  
    
    </table>
</div>